#!/usr/bin/env nextflow

params {
    n_samples = 3
    region  = 'chr22:15000000-16000000'
    mutation_rate = 0.01
    reference = "$RESOURCES/gatk_bundle/Homo_sapiens_assembly38/Homo_sapiens_assembly38.fasta"
    vcf = "$RESOURCES/gatk_bundle/Homo_sapiens_assembly38.dbsnp138/Homo_sapiens_assembly38.dbsnp138.vcf"
    processors = 1
    CF = 15
    CR = 0.2
    N_FP = 16
    Mu_F = 20
    SR = 151
    Fast_mode = 'N'
    Seq_error = 'Y'
    Error_rate = 0.01
    Path_Seq_qual = "${baseDir}/LRTK-SIM/resource/error_profile_reads.txt"
    Path_Barcode_qual = "${baseDir}/LRTK-SIM/resource/error_profile_barcode.txt"
    Mu_IS = 400
    Std_IS = 10
    Path_barcodepool = "$RESOURCES/whitelist/4M-with-alts-february-2016.txt"
    outdir = 'outs'
}

process {
    executor = 'local'
    memory = '4GB'
    cpus = 4
}

executor {
    name = 'local'
    cpus = 20
    memory = '48GB'
    queueSize = 100
}

// Capture exit codes from upstream processes when piping.
process.shell = ['/bin/bash', '-euo', 'pipefail']
